<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booklist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<img th:src="@{/img/etusivu.png}"/>
<br>Welcome to my Bookstore. This is an application where you can add a book (as an basic user),
<br>edit or delete a book (as an admin) from a database.
<p>
<br><a class="btn btn-success" href="/login">Login</a>
</body>
</html>